@font-face {
  font-family: 'rouge_scriptregular';
  src: url('./fonts/rougescript-regular-webfont.eot');
  src: url('./fonts/rougescript-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/rougescript-regular-webfont.woff') format('woff'),
       url('./fonts/rougescript-regular-webfont.ttf') format('truetype'),
       url('./fonts/rougescript-regular-webfont.svg#rouge_scriptregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsbold';
  src: url('./fonts/poppins-bold-webfont.eot');
  src: url('./fonts/poppins-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/poppins-bold-webfont.woff') format('woff'),
       url('./fonts/poppins-bold-webfont.ttf') format('truetype'),
       url('./fonts/poppins-bold-webfont.svg#poppinsbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'poppinsbold_italic';
  src: url('./fonts/poppins-bolditalic-webfont.eot');
  src: url('./fonts/poppins-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/poppins-bolditalic-webfont.woff') format('woff'),
       url('./fonts/poppins-bolditalic-webfont.ttf') format('truetype'),
       url('./fonts/poppins-bolditalic-webfont.svg#poppinsbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'poppinsitalic';
  src: url('./fonts/poppins-italic-webfont.eot');
  src: url('./fonts/poppins-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/poppins-italic-webfont.woff') format('woff'),
       url('./fonts/poppins-italic-webfont.ttf') format('truetype'),
       url('./fonts/poppins-italic-webfont.svg#poppinsitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsregular';
  src: url('./fonts/poppins-regular-webfont.eot');
  src: url('./fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/poppins-regular-webfont.woff') format('woff'),
       url('./fonts/poppins-regular-webfont.ttf') format('truetype'),
       url('./fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinssemibold';
  src: url('./fonts/poppins-semibold-webfont.eot');
  src: url('./fonts/poppins-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/poppins-semibold-webfont.woff') format('woff'),
       url('./fonts/poppins-semibold-webfont.ttf') format('truetype'),
       url('./fonts/poppins-semibold-webfont.svg#poppinssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinssemibold_italic';
  src: url('./fonts/poppins-semibolditalic-webfont.eot');
  src: url('./fonts/poppins-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/poppins-semibolditalic-webfont.woff') format('woff'),
       url('./fonts/poppins-semibolditalic-webfont.ttf') format('truetype'),
       url('./fonts/poppins-semibolditalic-webfont.svg#poppinssemibold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}