html {
  font-size: 7px;

  @media screen and (min-width: $dekstop-breakpoint) {
    font-size: 10px;
  }
}

body {
  * {
    box-sizing: border-box;
  }
  
  font-family: 'poppinsregular';
  font-size: 1.4rem;
  line-height: 150%;
  color: $black;
}

.container {
  display: block;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: $tablet-breakpoint) {
    padding: 0 30px;
  }

  @media screen and (min-width: $dekstop-breakpoint) {
    padding: 0;
  }
}

h1 {
  font-family: 'rouge_scriptregular';
  font-size: 11.2rem;
  line-height: 85%;

  @media screen and (min-width: $dekstop-breakpoint) {
    line-height: 100%;
  }
}

h2 {
  display: inline-block;
  border-bottom: 3px solid $black;
  font-family: 'poppinssemibold';
  font-size: 4.0rem;
  line-height: 125%;
}

h3 {
  font-family: 'poppinssemibold';
  font-size: 2.4rem;
  line-height: 100%;
}

h4 {
  font-family: 'poppinsbold';
  font-size: 1.8rem;
  line-height: 100%;
}

h5 {
  font-family: 'poppinssemibold';
  font-size: 1.8rem;
  line-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  outline : none;
}

img {
  display: block;
  margin: 0 auto;
}

p {
  display: block;
  line-height: 150%;
}

strong, b {
  font-family: 'poppinssemibold';
}

.main {
  padding: 50px 0 0;
  text-align: center;

  @media screen and (min-width: $dekstop-breakpoint) {
    padding: 75px 0;
    text-align: left;
  }
}

.row {
  font-size: 0;
  
  .col {
    position: relative;
    display: block;
    font-size: 1.6rem;
    vertical-align: top;

    &:first-child {
      margin-bottom: 2em;

      @media screen and (min-width: $dekstop-breakpoint) {
        margin-bottom: 0;
      }
    }

    @media screen and (min-width: $dekstop-breakpoint) {
      display: inline-block;
      width: 50%;
      padding: 0 30px;
    }
  }
}

.center {
  text-align: center;
}

.justify {
  text-align: center;
  
  div {
    margin-bottom: 1em;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $dekstop-breakpoint) {
    text-align: justify;
    line-height: 0;
    font-size: 0;

    div {
      display: inline-block;
      margin-bottom: 0;
    }

    &:after {
      content: "";
      display: inline-block;
      width: 100%;
    }
  }
}

sup {
  vertical-align: super;
  font-size: 0.75em;
}

body > .container {
  position: relative;
  z-index: 1;
}

.rounded {
  @extend %rounded;
}