%rounded {
  display: inline-block;
  padding: 5px 20px;
  background: #fff;
  border: 1px solid $black;
  border-radius: 15px;
  font-size: 1.6rem;
  line-height: 100%;
  outline: none;
  text-align: center;
}

