/** Import Bootstrap functions */
//@import "~bootstrap/scss/functions";

$black: #383838;
$gold: #c98c3c;
$silver: #999999;
$brown: #4a2c08;
$red: #FF4F5B;

$dekstop-breakpoint: 1200px;
$tablet-breakpoint: 768px;
