footer {
  position: relative;
  margin-top: -100px;
  background: $black;
  overflow: hidden;
  z-index: 0;

  &:before, &:after {
    content: "";
    position: absolute;
    bottom: 100%;
    width: 5000px;
    height: 500px;
    background: #fff;
    box-shadow: 15px 0px 15px rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  &:before {
    right: 50%;
    transform: rotate(4deg);
    margin-right: -25px;
  }

  &:after {
    left: 50%;
    transform: rotate(-4deg);
    margin-left: -25px;
  }

  .footer__background {
    position: relative;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
  
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.25);
      content: "";
    }
  }

  .container {
    padding: 1em 0;
    font-size: 24px;
    color: #fff;
    text-align: center;
  }
}