
.header {
  position: relative;
  padding: 50px 0;
  text-align: center;
  color: #fff;
  overflow: hidden;

  @media screen and (min-width: $dekstop-breakpoint) {
    padding: 70px 0;
  }

  .container {
    &:before, &:after {
      content: "";
      position: absolute;
      bottom: -75px;
      width: 5000px;
      height: 500px;
      background: #fff;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    }

    &:before {
      right: 50%;
      transform: translateY(50%) rotate(4deg);
    }

    &:after {
      left: 50%;
      transform: translateY(50%) rotate(-4deg);
    }
  }

  .stars {
    margin-top: 30px;

    @media screen and (min-width: $dekstop-breakpoint) {
      margin-top: 75px;
    }
  }

  nav.nav {
    margin-top: 30px;
    background-color: #fff;
    color: $black;
    font-size: 1.8rem;
    line-height: 100%;
    border-radius: 30px;
  
    @media screen and (min-width: $dekstop-breakpoint) {
      margin-top: 50px;
    }
  
    ul {
      display: inline-block;

      @media screen and (min-width: $dekstop-breakpoint) {
        padding: 20px 150px;
      }
  
      li {
        display: block;
        margin: 1em 0;
        text-transform: uppercase;
  
        @media screen and (min-width: $dekstop-breakpoint) {
          display: inline-block;
          margin: 0 65px 0 0;
        }
  
        &:last-child {
          margin-right: 0;
        }
  
        a {
          &:hover {
            border-bottom: 1px solid;
          }
        }

        &.current-menu-item a {
          border-bottom: 1px solid;
        }
      }
    }
  }

  .header__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center top;
    z-index: -1;
  
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.25);
      content: "";
    }
  }
  
  .header__text {
    margin: 30px 0 0;
  
    @media screen and (min-width: $dekstop-breakpoint) {
      margin: 75px 75px 0;
    }
    
    p {
      font-size: 2.0rem;
      line-height: 150%;
      text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    }
  }
}
