.template-rank {
  h2 {
    margin-bottom: 1em;

    @media screen and (min-width: $dekstop-breakpoint) {
      padding-right: 105px;
    }
  }

  @media screen and (min-width: $dekstop-breakpoint) {
    .row {
      .col {
        &:first-child {
          padding-left: 0;
          padding-right: 100px;
        }
      }
  
      &:last-of-type {
        .col {
          vertical-align: bottom;
        }
      }
    }
  }
  
  .range {
    width: 100%;
    margin-bottom: 8.4rem;
  }

  .ranges {
    width: 100%;
    margin-bottom: 1.6rem;
    font-size: 0;
    
    span {
      display: inline-block;
      width: 50%;
      font-size: 1.6rem;
      text-align: left;

      &:last-child {
        text-align: right;
      }
    }
  }

  h3 {
    margin-bottom: 1em;
  }

  p.info {
    margin-top: 1em;
    margin-bottom: 50px;

    &:first-of-type {
      margin-bottom: 0;
    }
  }

  .points-sum {
    width: 200px;
    margin: 1.5em 0 0.5em;
    cursor: default;
  }
  
  .submit-rate {
    cursor: pointer;
  }

  .front-page {
    margin-top: 50px;
  }

  span {
    font-size: 1.4rem;
  }

  .orderNumber {
    font-size: 11.2rem; 
    line-height: 100%;
  }

  .birds {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100px;

    @media screen and (min-width: $dekstop-breakpoint) {
      right: auto;
      left: 100%;
      max-width: 100%;
      margin-left: -100px;
    }
  }

  .bottle {
    max-height: 350px;
    margin-bottom: 1em;

    @media screen and (min-width: $dekstop-breakpoint) {
      max-height: 1300px;
      margin-bottom: 0;
    }
  }

  input[name="price"] {
    letter-spacing: 2px;
  }

  textarea[name="opinion"] {
    width: 100%;
    margin-bottom: 50px;
    border: 1px solid rgba(131, 196, 214, 0.5);
  }
}

.template-product {
  .main {
    padding-bottom: 75px;
  }

  .container .col {
    @media screen and (min-width: $dekstop-breakpoint) {
      padding: 0 30px;
    }
  }

  h2 {
    position: relative;
    padding: 0 15px;
    text-transform: uppercase;
  }

  h4 {
    margin: 2em 0 1em;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .col {
    p {
      font-size: 1.4rem;
    }
  }

  .orderNumber {
    display: block;
    font-size: 11.2rem;
    line-height: 100%;

    @media screen and (min-width: $dekstop-breakpoint) {
      position: absolute;
      top: -15px;
      right: 100%;
      display: inline-block;
      margin-right: 30px;
    }
  }

  #chart {
    margin: 3em auto 1em;
  }

  .recommendation-field {
    margin-bottom: 3em;
    font-family: 'poppinssemibold';
    text-align: center;

    span {
      width: 120px;
      margin-left: 30px;
    }
  }

  .bottle {
    margin: 1em auto 2em;
  }

  .bird {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate3d(-50%, 100%, 0);
  }

  .opinions {
    position: relative;
    height: 300px;
    padding-right: 15px;

    &:after, &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 1em;
      z-index: 3;
    }

    &:after {
      bottom: 0;
      background-image: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
    }

    &:before {
      top: 0;
      background-image: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0));
    }

    li {
      padding: 1em;
      border-top: 1px solid rgba(131, 196, 214, 0.5);

      &:first-child {
        border-top: none;
      }
    }
  }
}

.template-front-page {
  .rings {
    max-width: 300px;

    @media screen and (min-width: $dekstop-breakpoint) {
      max-width: 100%;
    }
  }
}

.template-calculator {
  .main {
    padding-bottom: 0;

    @media screen and (min-width: $dekstop-breakpoint) {
      padding-bottom: 50px;
    }
  }

  h2 {
    margin-bottom: 1em;
  }

  .info {
    @media screen and (min-width: $dekstop-breakpoint) {
      width: 50%;
    }
  }

  .label {
    margin: 1em 0 0.5em;
  }

  .input, .select, .button {
    width: 250px;
  }

  .input {
    text-align: left;
  }

  .button.calculate {
    margin-top: 2em;
  }

  .results {
    margin-top: 3em;
    text-align: center;

    @media screen and (min-width: $dekstop-breakpoint) {
      margin-top: 2em;
      text-align: left;
    }

    p {
      margin-bottom: 2em;
      font-family: 'poppinssemibold';

      @media screen and (min-width: $dekstop-breakpoint) {
        margin-bottom: 1em;
      }
    }

    .rounded {
      display: block;
      width: 150px;
      margin: 1em auto;

      @media screen and (min-width: $dekstop-breakpoint) {
        display: inline-block;
        margin: 0 25px;
      }
    }

    .bottlesNumber, .cost {
      font-family: 'poppinsregular';
    }
  }

  .rings {
    margin-top: 50px;
    max-width: 250px;

    @media screen and (min-width: $dekstop-breakpoint) {
      position: absolute;
      right: 0;
      bottom: 75px;
      max-width: 400px;
    }
  }
}

.template-guide {
  h2 {
    margin-bottom: 1em;
  }
  
  .wrap.container {
    max-width: 100%;
    padding: 0;
  }

  .block {
    display: block;
  
    .block__icon {
      padding-top: 2em;
    }

    .block__text {
      padding: 2em 15px;

      @media screen and (min-width: $dekstop-breakpoint) {
        padding: 2em 0;
      }

      p {
        margin-top: 1em;
      }
    }

    .block__image {
      display: block;
      height: 150px;
      margin: 2em 0;
      background-size: cover;
      background-position: center;

      @media screen and (min-width: $dekstop-breakpoint) {
        height: 330px;
      }
    }
  }
}

.template-custom {
  h2 {
    margin-bottom: 1em;
  }

  p {
    img {
      width: 100%;
      height: auto;
    }
  }
}