.button {
  @extend %rounded;
  cursor: pointer;
  transition: 0.4s background;

  &:hover {
    background: #f6f6f6;
  }

  &.button--black {
    padding: 5px 40px;
    background: $black;
    color: #fff;
    
    &:hover {
      background: #272727;
    }
  }
}

