.products-list {
  text-align: center;

  .product {
    position: relative;
    display: block;
    margin: 0 auto 50px;
    text-align: center;

    @media screen and (min-width: $tablet-breakpoint) {
      display: inline-block;
      margin: 0 30px 50px;
    }
  
    @media screen and (min-width: $dekstop-breakpoint) {
      margin: 0 10px 110px;
    }
  
    &:nth-of-type(1) {
      .points {
        .value {
          color: $gold;
        }
      }
    }
  
    &:nth-of-type(2) {
      .points {
        .value {
          color: $silver;
        }
      }
    }
  
    &:nth-of-type(3) {
      .points {
        .value {
          color: $brown;
        }
      }
    }
  
    .product__image-container {
      position: relative;
      display: block;
      height: 300px;
  
      .product__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1);
        height: 300px;
        transition: 0.8s opacity, 0.8s transform;
    
        &:hover {
          transform: translate3d(-50%, -50%, 0) scale(0.95);
          opacity: 0.85;
        }
      }
    }
  
    .points, .reviewsNumber, .averagePrice {
      display: block;
      font-size: 1.6rem;
      line-height: 175%;
  
      .value {
        display: inline-block;
      }
    }
  
    .rank {
      display: block;
      margin-bottom: 1em;
      font-family: 'poppinssemibold';
      font-size: 24px;
      line-height: 100%;
  
      &.rank-1, &.rank-2, &.rank-3 {
        font-size: 28px;
      }
  
      &.rank-1, {
        color: $gold;
      }
  
      &.rank-2, {
        color: $silver;
      }
  
      &.rank-3, {
        color: $brown;
      }
    }
  
    .laurel {
      position: absolute;
      top: 1em;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
    }
  
    .averagePrice {
      font-size: 1.4rem;
    }
  
    .button--black {
      margin-top: 0.5em;
    }
  
    .button--product-info {
      margin: 1em 0 0.5em;
    }
  }
}