.noUi-target {
  width: 545px;
  height: 6px;
  border: none;
  border-radius: 40%;
  background: $black;
  box-shadow: none;

  &[disabled] {
    cursor: not-allowed;
    
    .noUi-handle, .noUi-base {
      cursor: not-allowed;
    }
  }

  .noUi-handle {
    top: -7px;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    background: $black;
    border: none;
    border-radius: 50%;
    box-shadow: none;
    outline: none;
    cursor: pointer;

    &:after, &:before {
      content: none;
    }
  }

  .noUi-base {
    cursor: pointer;
  }

  .noUi-marker-horizontal {
    display: none;
  }

  .noUi-pips-horizontal {
    padding: 0;
  }

  .noUi-value-horizontal {
    top: 1.6rem;
    transform: translate(-50%, 0%);
    color: $black;
    font-size: 1.6rem;
    line-height: 100%;

    &[data-value="0"], &[data-value="5"], &[data-value="10"] {
      font-family: 'poppinssemibold';
      font-size: 2.6rem;
    }
  }
}